

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <B>Angular Web</B></a>
    </div>
  
    <ul class="nav navbar-nav navbar-right">
        <li class="bk"><a href="register" routerlink="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> &nbsp;
        <li><a href="login" routerlink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
 
    </ul>
  </div>
</nav>
  




<hr>
<app-header></app-header>
<router-outlet></router-outlet>

<ngx-alerts></ngx-alerts>
<hr>
<app-footer></app-footer>